.left-container {
	display: flex;
	flex-direction: column;
	flex: 0;
	min-width: 250px;
	height: 60vh;
	border: 1px solid #007185;
	background-color: #ECF0F1;
	margin: 10px 20px;
	border-radius: 3px;
} 

.left-header {
	height: 40px;
	line-height: 40px;
	text-align: left;
	padding-left: 20px;
	background-color: bisque;
	border-bottom: 1px solid #007185;
	font-size: 13px;
	font-weight: bold;
}

.link {
	text-align: left;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #007185;
	padding: 0 20px;
	font-size: 12px;
	font-weight: 500;
}